header {
    background-color: $primary-color;
    height: 30vh;

    .h1Header{
        font-size: $heading-font-size;
        color: white;
        text-align: center;
        justify-content: center;
        padding-top: 2rem;
    }
}